<a href="https://colab.research.google.com/github/fralfaro/MAT281_2023/blob/main/docs/labs/lab_032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAT281 - Laboratorio N°03

Esta semana revisaremos datos del **Índice de Libertad de Prensa** que confecciona cada año la asociación de Reporteros Sin Fronteras.

> **Nota**: el conjunto a utilizar lo encuentra en el siguiente [link](https://drive.google.com/drive/folders/1zxiYb5ji_xa5_5tWxvdjCEGYRY9YvjR7?usp=drive_link).

## Diccionario de datos


|Variable       |Clase               |Descripción |
|:--------------|:-------------------|:-----------|
| codigo_iso | caracter | Código ISO del país |
| pais | caracter | País |
| anio | entero | Año del resultado |
| indice | entero | Puntaje Índice Libertad de Prensa (menor puntaje = mayor libertad de prensa) |
| ranking | entero | Ranking Libertad de Prensa |


## Fuente original y adaptación
Los datos fueron extraídos de [The World Bank](https://tcdata360.worldbank.org/indicators/h3f86901f?country=BRA&indicator=32416&viz=line_chart&years=2001,2019). La fuente original es [Reporteros sin Fronteras](https://www.rsf-es.org/).

Por otro lado, estos archivos han sido modificado intencionalmente para ocupar todo lo aprendido en clases. A continuación, una breve descripción de cada uno de los data frames:

* **libertad_prensa_codigo.csv**: contiene la información codigo_iso/pais. Existe un código que tiene dos valores.
* **libertad_prensa_anio.csv**: contiene la información pais/anio/indice/ranking. Los nombres de las columnas estan en mayúscula.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd

from os import listdir
from os.path import isfile, join

In [4]:
path = "/content/drive/MyDrive/libertad_prensa/"

archivos_anio = [path + f for f in listdir(path) if 'libertad_prensa_codigo' not in f ]
df_codigos = pd.read_csv(path + 'libertad_prensa_codigo.csv')

 El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Lo primero será juntar toda la información en un _solo archivo_, para ello necesitamos seguir los siguientes pasos:

 * a) Crear el archivo **df_anio**, que contenga la información de **libertad_prensa_anio.csv** para cada año. Luego, normalice el nombre de las columnas a minúscula.
 * b) Encuentre y elimine el dato que esta duplicado en el archivo **df_codigo**.
 * c) Crear el archivo **df** que junte la información del archivo **df_anio** con **df_codigo** por la columna _codigo_iso_.

> **Hint**: Para juntar por _anio_ ocupe la función **pd.concat**. Para juntar información por columna ocupe **pd.merge**.

In [5]:
# 1.a)

list = [] #crea una lista vacía para llenarla con los dataframes
for name in archivos_anio:
  df_temp = pd.read_csv(name) #se lee cada archivo
  list.append(df_temp) #se agregan a la lista
df_anio = pd.concat(list) #se juntan todas las listas para hacer una lista de listas
df_anio.columns = df_anio.columns.str.lower() #cambia el nombre de las columnas a minusculas
df_anio

# 1.b)

df_codigos['codigo_iso'] = df_codigos['codigo_iso'].drop_duplicates()

# 1.c)

df=pd.merge(df_anio,df_codigos,on='codigo_iso') #se usa la funcion merge para juntar
df

     codigo_iso  anio  indice  ranking         pais
0           AFG  2007   59.25     92.0  Afghanistán
1           AFG  2019   36.55    121.0  Afghanistán
2           AFG  2014   37.44    116.0  Afghanistán
3           AFG  2008   54.25    103.0  Afghanistán
4           AFG  2013   37.07    117.0  Afghanistán
...         ...   ...     ...      ...          ...
3055        ZWE  2003   67.50    108.0     Zimbabue
3056        ZWE  2012   38.12    117.0     Zimbabue
3057        ZWE  2009   39.50     81.0     Zimbabue
3058        ZWE  2017   41.44    128.0     Zimbabue
3059        ZWE  2004   64.25     97.0     Zimbabue

[3060 rows x 5 columns]

2. Encontrar:
   * ¿Cuál es el número de observaciones en el conjunto de datos?   
   * ¿Cuál es el número de columnas en el conjunto de datos?   
   * Imprime el nombre de todas las columnas  
   * ¿Cuál es el tipo de datos de cada columna?
   * Describir el conjunto de datos (**hint**: .describe())

In [6]:
# respuesta

# 2a) #Cantidad de observaciones:

n_obs = df.shape[0] #ve la cantidad de filas que tiene el df
print("numero de observaciones:", n_obs)

# 2b) #Cantidad de columnas

n_col=df.shape[1] #ve la cantidad de columnas que tiene el df
print("numero de columnas:", n_col)

# 2c) #Imprimir el nombre de todas las columnas

print("columnas:")
r=df.columns.tolist() #creamos una lista con todos los elementos
for j in range(len(r)): #imprimimos cada uno por separado para no tenerlos en una lista
  print(r[j])

# 2d)

print("El tipo de dato de cada columna es:")
print(df.dtypes) #función que da el tipo de dato

# 2e)
print("El conjunto de datos descritos:")
print(df.describe(include='all'))

numero de observaciones: 3060
numero de columnas: 5
columnas:
codigo_iso
anio
indice
ranking
pais
El tipo de dato de cada columna es:
codigo_iso     object
anio            int64
indice        float64
ranking       float64
pais           object
dtype: object
El conjunto de datos descritos:
       codigo_iso         anio        indice        ranking     pais
count        3060  3060.000000   2664.000000    2837.000000     3060
unique        180          NaN           NaN            NaN      179
top           AFG          NaN           NaN            NaN  Nigeria
freq           17          NaN           NaN            NaN       34
mean          NaN  2009.941176    205.782316     477.930913      NaN
std           NaN     5.786024   2695.525264    6474.935347      NaN
min           NaN  2001.000000      0.000000       1.000000      NaN
25%           NaN  2005.000000     15.295000      34.000000      NaN
50%           NaN  2009.000000     28.000000      70.000000      NaN
75%           NaN  2015.000000     41.227500     110.000000      NaN
max           NaN  2019.000000  64536.000000  121056.000000      NaN

3. Desarrolle una función `resumen_df(df)` para encontrar el total de elementos distintos y vacíos por columnas.

In [7]:
# respuesta

def resumen_df(df):
    """
    funcion resumen con elementos distintos y vacios
    por columnas
    """
    nombres = df.columns
    unique_list = []
    empty_list = []

    for i in nombres:

      unique = (len(df[i].unique())) #Estamos considerando los datos nulos como un tipo de dato "unico"
      empty = (df[i].isnull().sum())
      unique_list.append(unique)
      empty_list.append(empty)

    result = pd.DataFrame({'nombres': nombres})
    result['elementos_distintos'] = unique_list
    result['elementos_vacios'] = empty_list

    return result

In [8]:
# retornar
resumen_df(df)

      nombres  elementos_distintos  elementos_vacios
0  codigo_iso                  180                 0
1        anio                   17                 0
2      indice                 1551               396
3     ranking                  194               223
4        pais                  179                 0

4. Para los paises latinoamericano, encuentre por año  el país con mayor y menor `indice`.

 * a) Mediante un ciclo _for_.
 * b) Mediante un  _groupby_.

In [32]:
# respuesta

america = ['ARG', 'ATG', 'BLZ', 'BOL', 'BRA', 'CAN', 'CHL', 'COL', 'CRI',
       'CUB', 'DOM', 'ECU', 'GRD', 'GTM', 'GUY', 'HND', 'HTI', 'JAM',
       'MEX', 'NIC', 'PAN', 'PER', 'PRY', 'SLV', 'SUR', 'TTO', 'URY',
       'USA', 'VEN']

df_america = df[df.codigo_iso.isin(america)]



# Ciclo for


df_aux = df_america.sort_values('anio')

lmax = []
lmin = []
min = [np.inf,'']
max = [-np.inf,'']
year = df_aux.iloc[0]['anio']
for i in range(len(df_aux)):
  if df_aux.iloc[i]['anio'] == year:
    if df_aux.iloc[i]['indice'] < min[0]:
      min[0] = df_aux.iloc[i]['indice']
      min[1] = df_aux.iloc[i]['pais']
    if df_aux.iloc[i]['anio'] > max[0]:
      max[0] = df_aux.iloc[i]['indice']
      max[1] = df_aux.iloc[i]['pais']
    if i == len(df_aux):
      lmax.append[[year,max]]
      lmin.append[[year,min]]
  else:
    lmax.append([[year,max]])
    lmin.append([[year,min]])
    min = [np.inf,'']
    max = [-np.inf,'']
    year = df_aux.iloc[i]['anio']

df_am_M = pd.DataFrame(lmax)
df_am_m = pd.DataFrame(lmin)
df_am_M
df_am_m

print(lmax)
print(lmin)


#Groupby

max_indice = df_america.groupby('anio').indice.max() #Se asigna a cada año el mayor indice por país (agrupado por anio)
data_max = df_america.merge(max_indice, on='anio', suffixes=('','_max')) #se crea un dataframe ordenado por año (de stackoverflow)
data_max= data_max[data_max.indice==data_max.indice_max].drop(['indice_max','codigo_iso','ranking',], axis=1) #condición aplicada (de stackoverlow) y sacar lsa columnas innecesrias
by_anio = data_max.sort_values('anio') #se ordena por anio
by_anio


min_indice = df_america.groupby('anio').indice.min() #Se asigna a cada año el menor indice por país (agrupado por anio)
data_min = df_america.merge(min_indice, on='anio', suffixes=('','_min')) #se crea un dataframe ordenado por año (de stackoverflow)
data_min= data_min[data_min.indice==data_min.indice_min].drop(['indice_min','codigo_iso','ranking',], axis=1) #condición aplicada (de stackoverlow) y sacar lsa columnas innecesrias
by_anio = data_min.sort_values('anio') #se ordena por anio
by_anio #se ordena por anio

[[[2001, [nan, 'Belize']]], [[2002, [nan, 'Guyana']]], [[2003, [nan, 'Surinam']]], [[2004, [nan, 'Surinam']]], [[2005, [nan, 'Belize']]], [[2006, [nan, 'Granada']]], [[2007, [nan, 'Granada']]], [[2008, [nan, 'Antigua y Barbuda']]], [[2009, [nan, 'Antigua y Barbuda']]], [[2012, [nan, 'Belize']]], [[2013, [nan, 'Granada']]], [[2014, [nan, 'Antigua y Barbuda']]], [[2015, [nan, 'Antigua y Barbuda']]], [[2016, [nan, 'Uruguay']]], [[2017, [nan, 'Antigua y Barbuda']]], [[2018, [nan, 'Granada']]]]
[[[2001, [0.8, 'Canadá']]], [[2002, [1.0, 'Trinidad y Tobago']]], [[2003, [2.0, 'Trinidad y Tobago']]], [[2004, [2.0, 'Trinidad y Tobago']]], [[2005, [4.5, 'Bolivia']]], [[2006, [4.88, 'Canadá']]], [[2007, [3.33, 'Canadá']]], [[2008, [3.7, 'Canadá']]], [[2009, [6.75, 'Estados Unidos']]], [[2012, [9.88, 'Jamaica']]], [[2013, [10.9, 'Jamaica']]], [[2014, [10.99, 'Canadá']]], [[2015, [11.1, 'Costa Rica']]], [[2016, [inf, '']]], [[2017, [11.93, 'Costa Rica']]], [[2018, [11.33, 'Jamaica']]]]

     anio  indice               pais
295  2001    0.80             Canadá
257  2002    1.00  Trinidad y Tobago
373  2003    2.00  Trinidad y Tobago
489  2004    2.00  Trinidad y Tobago
322  2005    4.50            Bolivia
324  2005    4.50             Canadá
179  2006    4.88             Canadá
5    2007    3.33             Canadá
92   2008    3.70             Canadá
433  2009    6.75     Estados Unidos
394  2012    9.88            Jamaica
133  2013   10.90            Jamaica
63   2014   10.99             Canadá
211  2015   11.10         Costa Rica
443  2017   11.93         Costa Rica
162  2018   11.33            Jamaica
46   2019   11.13            Jamaica

5. Para cada _país_, muestre el _indice_ máximo que alcanzo por _anio_. Para los datos nulos, rellene con el valor **0**.

**Ejemplo**:

<img src="https://drive.google.com/uc?export=view&id=1ob0qch1dsOjDOUuZXnCY0HU_3XPp19gV" width = "700" align="center"/>

> **Hint**: Utilice la función **pd.pivot_table**.

In [33]:
table = pd.pivot_table(df, values='indice', index=['codigo_iso'], columns=['anio'], aggfunc=np.sum, fill_value=0) #Se usa la función del ejemplo
table

anio,2001,2002,2003,2004,2005,2006,2007,2008,2009,2012,2013,2014,2015,2016,2017,2018,2019
codigo_iso,,,,,,,,,,,,,,,,,
AFG,35.5,40.17,28.25,39.17,44.25,56.50,59.25,54.25,51.67,37.36,37.07,37.44,37.75,0,39.46,37.28,36.55
AGO,30.2,28.00,26.50,18.00,21.50,26.50,29.50,36.50,28.50,37.80,36.50,37.84,39.89,0,40.42,38.35,34.96
ALB,0.0,6.50,11.50,14.17,18.00,25.50,16.00,21.75,21.50,30.88,29.92,28.77,29.92,0,29.92,29.49,29.84
AND,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.82,6.82,19.87,19.87,0,21.03,22.21,24.63
ARE,0.0,37.00,50.25,25.75,17.50,20.25,14.50,21.50,23.75,33.49,36.03,36.73,36.73,0,39.39,40.86,43.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,33.00,23.84,22.02,22.32,18.80,0,16.41,16.69,18.25
YEM,34.8,41.83,48.00,46.25,54.00,56.67,59.00,83.38,82.13,69.22,67.26,66.36,67.07,0,65.80,62.23,61.66
ZAF,7.5,3.33,5.00,6.50,11.25,13.00,8.00,8.50,12.00,24.56,23.19,22.06,21.92,0,20.12,20.39,22.19
ZMB,26.8,23.25,29.75,23.00,22.50,21.50,15.50,26.75,22.00,27.93,30.89,34.35,35.08,0,36.48,35.36,36.38
ZWE,48.3,45.50,67.50,64.25,50.00,62.00,54.00,46.50,39.50,38.12,39.19,39.19,40.41,0,41.44,40.53,42.23